langgraph==0.2.62
langchain==0.3.14
langchain-core==0.3.29
langchain-openai==0.3.0
langchain-groq==0.2.3
langchain-google-genai==2.0.8
python-dotenv==1.0.1
typing-extensions==4.12.2
rich==13.9.4
pydantic==2.10.4
